.brand {
    margin: 150px auto;
    &__link {
        &__img {
            display: block;
            margin: 75px auto;
        }
    }
}

@media (min-width: 1200px) {
    .brand {
        margin: 150px auto;
        width: 1100px;
        &__link {
            &__img {
                display: inline;
                margin: auto 35px;
            }
        }
    }
}