.header {
    text-align: center;
    padding: 100px 10px;
    &__logo {
        margin-bottom: 75px;
    }
    &__content {
        &__title {
            color: $darkGrayishBlue;
            max-width: 340px;
            margin: auto;
        }
        &__text {
            max-width: 345px;
            margin: auto;
            color: $grayishBlue;
            font-size: $fontSize;
            padding: 30px 0;
        }
        &__btn {
            display: block;
            margin: 25px auto;
            color: $white;
            font-size: $fontSize;
            padding: 20px;
            width: 75vw;
            border-radius: 50px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
        }
        &__btn--green {
            background-color: $strongCyan;
        }
        &__btn--blue {
            background-color: $lightBlue;
        }
    }
}

@media (min-width: 1200px) {
    .header__content {
        &__title {
            max-width: 500px;
        }
        &__text {
            max-width: 450px;
        }
        &__btn {
            display: inline;
            width: 250px;
            margin: 10px;
            padding: 15px 0;
        }
    }
}