.workflow {
    text-align: center;
    margin: 100px auto;
    &__title {
        font-size: 35px;
        color: $darkGrayishBlue;
    }
    &__text {
        color: $grayishBlue;
        font-size: $fontSize;
        max-width: 300px;
        margin: 20px auto;
    }
    &__container {
        margin: 50px auto;
        .card {
            &__img {
                margin: 30px auto;
                width: 60px;
            }
            &__body {
                &__title {
                    font-size: 25px;
                    color: $darkGrayishBlue;
                    padding: 20px 0;
                }
                &__text {
                    font-size: $fontSize;
                    color: $grayishBlue;
                    max-width: 300px;
                    margin: auto;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .workflow {
        margin-top: 0;

        &__container {
            @include flex(row);
            width: 1000px;
            margin: auto;
            .card {
                &__body {
                    &__text {
                        max-width: 400px;
                    }
                }
            }
        }
    }
}